# copy this to terraform.tfvars
project_id = "myProjectID"
region = "europe-west3"
global_name = "web2sheets"
functions = {
  "myGreatSheetsAutomation" = "https://docs.google.com/spreadsheets/d/....",
  # Add more functions and URLs as needed
}